astmonkey==0.3.6
attrs==20.3.0
coverage==5.5
importlib-metadata==3.7.2
iniconfig==1.1.1
Jinja2==2.11.3
MarkupSafe==1.1.1
MutPy==0.6.1
numpy==1.20.1
packaging==20.9
pluggy==0.13.1
py==1.10.0
pydot==1.4.2
pyparsing==2.4.7
pytest==6.2.2
pytest-cov==2.11.1
pytest-json-report==1.2.4
pytest-metadata==1.11.0
PyYAML==5.4.1
termcolor==1.1.0
toml==0.10.2
typing-extensions==3.7.4.3
zipp==3.4.1
